<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <services>
      <service name="Wcf_Project_Cinema.AddressService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IAddressService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/AddressService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.ActorService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IActorService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/ActorService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.CategoryService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.ICategoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/CategoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.CityService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.ICityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/CityService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.CountryService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.ICountryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/CountryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.CustomerService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.ICustomerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/CustomerService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.FilmService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IFilmService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/FilmService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.InventoryService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IInventoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/InventoryService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.LanguageService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.ILanguageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/LanguageService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.PaymentService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IPaymentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/PaymentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.RentalService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IRentalService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/RentalService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.StaffService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IStaffService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StaffService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf_Project_Cinema.StoreService">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf_Project_Cinema.IStoreService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Wcf_Project_Cinema/StoreService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="filmContext" connectionString="data Source=.; initial catalog=DBCinema;integrated security=true" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>